# 하루 봇 환경변수
DISCORD_BOT_TOKEN=your_discord_bot_token_here
DISCORD_CHANNEL_ID=1479813609499394169
TMUX_SESSION=haru

# 헬스체크
HEALTH_PORT=58090
# 다른 봇 헬스체크 대상 (쉼표 구분, 형식: 이름:URL)
# HEALTH_TARGETS=nino:http://100.83.73.37:58090,rund:http://100.67.247.61:58090
